<p id="notice"><%= notice %></p>
<div class="full-size-background" style="background-image: url('<%= @survivor.picture_url %>');">
  <div id="intro" class="intro column">
    <header class="full-name"><%= @survivor.name %></header>
  </div>
</div>
