// Place all the styles related to the Survivors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.full-size-background {
  height: 100%;
  width: 100%;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.intro {
  height: 100%;
}

.column {
  width: 35%;
  padding-left: 55%;
  padding-top: 10em;
  padding-bottom: 6em;
  overflow: auto;
}

.full-name {
  color: #969696;
  font-size: 3.75rem;
  margin-bottom: 1em;
  font-weight: 700;
}

.excerpt {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.full-story {
  font-size: 1.35rem;
  background: rgba(0,0,0,0.5);
  color: #959595;
  line-height: 1.35em;
  min-height: 100%;
}

.scroll-to {
  display: block;
  width: 118px;
  height: 118px;
  background: image-url('scroll.to.png') no-repeat 0 0;
  float: right;
  color: #969696;
  text-decoration: none;
  line-height: 0.75em;
  padding-top: 34px;
  text-align: center;
  font-size: 1.2em;
  margin-top: 5em;
  font-style: italic;
  font-family: Georgia;
}

.up {
  background-image: image-url('scroll.to.up.png');
  padding-top: 56px;
  margin-top: 4em;
}

.location {
  color: #2b2b2b;
  font-size: 2.2em;
  line-height: 1em;

  span {
    color: #969696;
  }
}

.city {
  display: inline-block;
  border-right: 1px solid #4b4b4b;
  padding-right: 0.5em;
  margin-right: 0.25em;
}
